.gradle/
.idea/
.DS_Store
build/
app/build/
local.properties
.externalNativeBuild/
.cxx/
work/FFmpeg/
work/
work/ffmpeg-build-*/
third_party/sources/
app/src/main/cpp/third_party/ffmpeg/android/*
!app/src/main/cpp/third_party/ffmpeg/android/README.md
!app/src/main/cpp/third_party/ffmpeg/android/.gitkeep
app/src/main/cpp/third_party/vmaf/android/*
!app/src/main/cpp/third_party/vmaf/android/README.md
!app/src/main/cpp/third_party/vmaf/android/.gitkeep
